# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/ml/*.pkl
backend/uploads/reports/*.pdf
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
*.log
